/* styles.css */

/* Allgemeine Stile */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8; /* Eiweiß-Hintergrund */
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    max-width: 800px; /* Erhöhte maximale Breite */
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

a.add-task-btn {
    text-decoration: none;
    color: #fff;
    background-color: #1abc9c; /* Türkis */
    padding: 10px 20px; /* Erhöhte Polsterung */
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    margin: 10px 0; /* Abstand zum oberen und unteren Rand */
}

a.add-task-btn:hover {
    background-color: #16a085; /* Dunkleres Türkis */
    transform: translateY(-3px);
}

.logout-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

button.logout-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c; /* Türkis */
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

button.logout-btn:hover {
    background-color: #16a085; /* Dunkleres Türkis */
    transform: translateY(-3px);
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 800px; /* Erhöhte maximale Breite */
}

li {
    background-color: #fff;
    padding: 20px; /* Erhöhte Polsterung */
    margin-bottom: 15px; /* Erhöhter Abstand zwischen den Aufgaben */
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

li:hover {
    transform: translateY(-5px);
}

label {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Nimmt den verfügbaren Platz ein */
}

input[type="checkbox"] {
    margin-right: 15px; /* Erhöhter Abstand zur Checkbox */
    transform: scale(1.5);
}

a.delete-task-btn {
    text-decoration: none;
    color: #fff;
    background-color: #1abc9c; /* Türkis */
    padding: 10px 20px; /* Erhöhte Polsterung */
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    margin-left: 15px; /* Abstand zum Text */
}

a.delete-task-btn:hover {
    background-color: #16a085; /* Dunkleres Türkis */
    transform: translateY(-3px);
}

footer {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 800px; /* Erhöhte maximale Breite */
}