<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>To-Do Liste</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/styles.css' %}">
</head>
<body>
    <h1>To-Do Liste</h1>
    <a href="{% url 'add_task' %}">Neue Aufgabe hinzufügen</a>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} - 
                {% if task.completed %}
                    Erledigt
                    <!-- Lösch-Button nur für erledigte Aufgaben -->
                    <a href="{% url 'delete_task' task.id %}">Löschen</a>
                {% else %}
                    Offen
                    <a href="{% url 'delete_task' task.id %}">Löschen</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
