<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>To-Do Liste</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/styles.css' %}">
</head>
<body>
    <header>
        <h1>To-Do Liste</h1>
        <a class="add-task-btn" href="{% url 'add_task' %}">Neue Aufgabe hinzufügen</a>
    </header>
    <main>
        <ul>
            {% for task in tasks %}
                <li>
                    <form method="post" action="{% url 'update_task' task.id %}">
                        {% csrf_token %}
                        <label>
                            <input type="checkbox" name="completed" {% if task.completed %}checked{% endif %} onChange="this.form.submit()">
                            {{ task.title }}
                        </label>
                    </form>
                    <a class="delete-task-btn" href="{% url 'delete_task' task.id %}">Löschen</a>
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </footer>
</body>
</html>